---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro';
import Education from '../components/sections/Education.astro';
import Certifications from '../components/sections/Certifications.astro';
import Projects from '../components/sections/Projects.astro';
import Achievements from '../components/sections/Achievements.astro';
import Contact from '../components/sections/Contact.astro';
---

<Layout title="AJVAD N | Cybersecurity Analyst">
	<main class="bg-background min-h-screen">
		<Hero />
		<About />
		<Achievements />
		<Projects />
		<Certifications />
		<Education />
		<Contact />
	</main>
</Layout>

<script>
  const observerOptions = {
    root: null,
    rootMargin: '0px',
    threshold: 0.1
  };

  const observer = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('active');
        observer.unobserve(entry.target); // Only animate once
      }
    });
  }, observerOptions);

  document.querySelectorAll('.reveal').forEach(el => {
    observer.observe(el);
  });
</script>
